*,
*::before,
*::after { 
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root { 
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(212, 45%, 89%);
  --clr-grayish-blue: hsl(220, 15%, 55%);
  --clr-dark-blue: hsl(218, 44%, 22%);

  --fs-normal: 15px;

  --ff-main: url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
  --fw-normal: 400;
  --fw-bold: 700;
}

html, body { 
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--ff-main);
  font-size: var(--fs-normal);
  background-color: var(--clr-light-gray);
}


.container1 { 
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  padding: 16px;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  box-shadow: 0px 8px 36px var(--clr-light-gray);
  justify-content: center;
  align-items: center;
}

.qr-code-container { 
  position: relative;
}
.text-container  {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;

}
.header-text { 
  font-family: var(--ff-main);
  font-weight: var(--fw-bold);
  color: var(--clr-dark-blue);
  margin-bottom: 12px;
}

.sub-text { 
font-family: var(--ff-main);
font-weight: var(--fw-normal);
color: var(--clr-light-gray);

}

.img-qr-code { 
  border-radius: 8px;
  max-width: 100%;
  min-height: 100%;
}

.attribution { 
  position: fixed;
  bottom: 0px;
  height: 30px;
  width: 100%;
  text-align: center;
}
