$fs-h1: 9.375rem;
:root {
	// colors
	--clr-primary: rgb(11, 13, 23);
	--clr-secondary: rgb(208, 214, 249);
	--clr-accent: (255, 255, 255);

	// typography
	@font-face {
		font-family: 'Barlow Condensed', sans-serif;
		font-family: 'Bellefair', serif;
		src: url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Bellefair&display=swap');
		font-weight: normal;
		font-style: normal;
	}

	--ff-primary: 'Barlow Condensed', sans-serif;
	--ff-secondary: 'Bellefair', serif;

	--fs: 16px;

	--fs-h1: 9.375rem;
	--fs-h2: 3.5rem;
	--fs-h3: 6.25rem;
	--fs-h4: 2rem;
	--fs-h5: 1.75rem;
	--fs-subheading1: 1.75rem;
	--fs-subheading2: 0.875rem;
	--fs-reg: 1rem;
	--word-spacing-h5: 0.296875rem;
	--word-spacing-subheading2: 0.146875rem;
	--word-spacing-reg: 0.16875rem;
}
body {
	font-size: var(--fs);
	font-family: var(--ff-primary);
}
.container {
	font-family: var(--ff-primary);
}
.title {
	font-size: $fs-h1;
	color: red;
}
